.ant-layout-sider-children::-webkit-scrollbar {
    display: none;
}

.ant-menu-item {
    margin-bottom: 4px !important;
}

.ant-menu-item-selected {
    font-weight: 600;
}

.ant-card-head {
    border-bottom: 1px solid #f8fafc;
    padding: 0 24px;
    min-height: 56px;
}

.ant-card-head-title {
    font-weight: 600;
    color: #1e293b;
}

.ant-menu-item-selected::after {
    border-right: 3px solid #2563eb !important;
}